/*
background #202124
boxes #36373A
text #E8EAED
svgs #04D7FF
*/

body {
    background-color: #202124 !important;
}
.App {
    color: #E8EAED !important;
}
.form-range::-webkit-slider-thumb {
    background-color: #04D7FF !important;
}

.form-range::-moz-range-thumb {
    background-color: #04D7FF !important;
}

.form-range::-ms-thumb {
    background-color: #04D7FF !important;
}

.form-check-input {
    border-color: #04D7FF !important;
}

.form-control {
    background-color: transparent !important;
    color: #E8EAED;
}
.form-control:focus, .form-check-input:focus {
    border-color: #04D7FF !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #04D7FF !important;
}

.login{
    button{
        background-color: rgba(4, 215, 255, 0.39) !important;
    }
    background-color: #36373A;
}

.search {
    margin-top: 60px;
    background-color: #36373A;
    width: 65%;
    box-shadow: 3px 2px 5px black;
}
.date-select {
    width: 25%;
    text-align: center;
}

.settings {
    width: 25%;
}

.location-select {
    width: 50%;
}

.search-info {
    position: sticky;
    background-color: #202124;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 1px 2px 5px black;
    z-index: 4;
    animation: fadeIn 1s;
}

.options {
    background-color: #36373A;
    padding: 5px 8px;
}
.options:nth-child(even) {
    background-color: rgb(104, 105, 108, 0.1);
}

.options:hover {
    cursor: pointer;
    background-color: #4a4b4e;
}

.carousel-img{
    width: 450px;
    height: 350px;
}


