@media only screen and (max-width: 900px) {
    .flight-card {
        width: 100%;
    }

    .book-btn {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .flight-card {
        width: 75%;
    }

    .book-btn {
        width: 45%;
    }
}

.flight-card {
    background-color: #36373A !important;
    height: fit-content;
}

.accordion {
    width: 100%;
}

.accordion-button {
    background-color: transparent !important;
    color: #E8EAED !important;
}

.card-head {
    border-bottom: #4a4b4e solid 1px;
}

.table-transparent {
    cursor: default;
}

.table-transparent tbody th, .table-transparent tbody td {
    background-color: #36373A;
    width: fit-content;
    min-width: 25%;
}

.table-transparent tbody td:nth-child(4) {
    width: fit-content;
    min-width: 35%;
}

.book-btn, .search-btn, .app-btn {
    background-color: rgba(4, 215, 255, 0.39) !important;
}

button:hover {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #04D7FF !important;
}

.modal-dialog > * {
    background-color: #36373A !important;
}