@media only screen and (max-width: 900px) {
    .flight-card {
        width: 90%;
    }

    .book-btn {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .flight-card {
        width: 75%;
    }

    .book-btn {
        width: 35%;
    }

    .flight-card:hover {
        box-shadow: 10px 10px 10px black;
    }
}

.flight-card {
    background-color: #36373A !important;
    height: fit-content;
}

.element-shadow {
    box-shadow: 3px 2px 5px black;
    transition: box-shadow 0.5s ease, width 0.5s ease;
    animation: fadeInAndMoveIn linear 0.5s;
}

.accordion {
    width: 100%;
}

.accordion-button {
    background-color: transparent !important;
    color: #E8EAED !important;
}

.card-head {
    border-bottom: #4a4b4e solid 1px;
}

@keyframes fadeInAndMoveIn {
    0% {
        opacity: 0.5;
        transform: translateX(250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.table-transparent {
    cursor: default;
}

.table-transparent tbody th, .table-transparent tbody td {
    background-color: #36373A;
    width: fit-content;
    min-width: 25%;
}

.table-transparent tbody td:nth-child(4) {
    width: fit-content;
    min-width: 35%;
}

.book-btn, .search-btn, .app-btn{
    background-color: rgba(4, 215, 255, 0.39) !important;
}

button:hover {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #04D7FF !important;
}

.price {
    color: white;
    font-weight: bold;
    padding: 3px;
}