.search-suggestion {

    button, button:hover {
        background-color: rgba(4, 215, 255, 0.40);
    }
    .flag-img {
        width: 1rem;
        height: 1rem;
    }
}


@media only screen and (max-width: 900px) {
    .search-suggestion-main-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-suggestion-container {
        width: 100%;
    }

    .search-suggestion-list {
        max-height: 10rem;
        width: 100%;
        border-top: 5px solid #005566;
        box-shadow: 3px 2px 5px black;
    }

    .search-suggestion {
        margin-top: 10px;
    }

    .search-suggestion > * {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .search-suggestion-main-container {
        width: 75%
    }

    .search-suggestion-container {
        width: 50%;
    }

    .search-suggestion-list {
        justify-content: start;
        max-height: 5rem;
        padding: 15px;
        border-top: 0.2rem solid #005566;
    }

    .search-suggestion {
        width: fit-content;
    }
}