.App {
 /*text-align: center;*/
}
body{
  background-color: white;
}
.search{
  width: 20%;
}
.search label {
  width: 100%;
}
.nav-bar{
  background-color: #dcdcdc;
  width: 100%;
  min-height: 64px;
}
.flight-list{
  height: fit-content;
  width: 100%;
}
.card{
  height: 250px;
  width: 100%;
  box-shadow: 3px 2px 5px black;
}






.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.options:hover {
  cursor: default;
  background-color: #f0f0f0; /* Set your desired background color */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
