/*
background #202124
boxes #36373A
text #E8EAED
svgs #04D7FF
*/

body {
    background-color: #202124 !important;
}

.App {
    color: #E8EAED !important;
}
.form-range::-webkit-slider-thumb {
    background-color: #04D7FF !important;
}

.form-range::-moz-range-thumb {
    background-color: #04D7FF !important;
}

.form-range::-ms-thumb {
    background-color: #04D7FF !important;
}

.form-check-input {
    border-color: #04D7FF !important;
}

.form-control {
    background-color: transparent !important;
    color: #E8EAED;
}
.form-control:focus, .form-check-input:focus {
    border-color: #04D7FF !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #04D7FF !important;
}


.search {
    background-color: #36373A;
    width: 75%;
    box-shadow: 3px 2px 5px black;
}
.date-select {
    width: 25%;
    text-align: center;
}

.settings {
    width: 25%;
}

.location-select {
    width: 50%;
}
.nav-bar {
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 1px 2px 5px black;
    min-height: 60px;
    height: 65px;
    z-index: 3;
}
.accordion-button{
    background-color: transparent !important;
    color: #E8EAED !important;
}
.search-info {
    position: sticky;
    background-color: #202124;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 1px 2px 5px black;
    z-index: 4;
    animation: fadeIn 1s;
}

.flight-list {
    height: fit-content;
}
@media only screen and (max-width: 900px) {
    .flight-card {
        width: 90%;
    }
    .book-btn{
        width:  50%;
    }
}
@media only screen and (min-width: 1000px) {
    .flight-card {
        width: 45%;
    }
    .book-btn{
       width:  25%;
    }
    .flight-card:hover {
        box-shadow: 10px 10px 10px black;
        width: 46%;
    }
}
.flight-card {
    background-color: #36373A !important;
    height: fit-content;
    box-shadow: 3px 2px 5px black;
    transition: box-shadow  0.5s ease, width 0.5s ease;
    animation: fadeInAndMoveIn 0.8s;
}
.accordion{
    width: 100%;
}
.card-head {
    border-bottom: #4a4b4e solid 1px;
}

@keyframes fadeInAndMoveIn {
    0% {
        opacity: 0.5;
        transform: translateX(250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.table-transparent {
    cursor: default;
}

.table-transparent tbody th, .table-transparent tbody td {
    background-color: #36373A;
    width: fit-content;
    min-width: 20%;
}
.table-transparent tbody td:nth-child(1), .table-transparent tbody td:nth-child(3){
    width: fit-content;
    min-width: 50%;
}

.book-btn, .search-btn {
    background-color: rgba(4, 215, 255, 0.6) !important;
}

button:hover {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #04D7FF !important;
}




.options {
    background-color: #36373A;
    padding: 5px 8px;
}
.options:nth-child(even) {
    background-color: rgb(104, 105, 108, 0.1);
}

.options:hover {
    cursor: pointer;
    background-color: #4a4b4e;
}



