.react-datepicker__day-names, .react-datepicker__header {
    background-color: unset;
}
.react-datepicker__portal > *{
    position: relative;
}
.react-datepicker__day--keyboard-selected > *  {
    outline: 1px solid white;
}
.react-datepicker__day--outside-month{
    outline: 0;
}
.react-datepicker__day--in-selecting-range,.react-datepicker__day,
.react-datepicker__day:hover,
.react-datepicker__day--keyboard-selected{
    background-color: transparent !important;
}

@media screen and (min-width: 600px) {
    .react-datepicker__portal .react-datepicker__day-name,
    .react-datepicker__portal .react-datepicker__day,
    .react-datepicker__portal .react-datepicker__time-name{
        width: 3.8rem;
    }
}
@media screen and (min-width: 450px) and (max-width: 600px) {
    .react-datepicker__portal .react-datepicker__day-name,
    .react-datepicker__portal .react-datepicker__day,
    .react-datepicker__portal .react-datepicker__time-name {
        width: 3.3rem;
    }
}@media screen and (min-width: 350px) and (max-width: 450px) {
    .react-datepicker__portal .react-datepicker__day-name,
    .react-datepicker__portal .react-datepicker__day,
    .react-datepicker__portal .react-datepicker__time-name {
        width: 3.3rem;
    }
}
@media screen and (max-width: 350px) {
    .react-datepicker__portal .react-datepicker__day-name,
    .react-datepicker__portal .react-datepicker__day,
    .react-datepicker__portal .react-datepicker__time-name {
        width: 2.45rem;
    }
}





